.about {
    .page_title {
        text-align: left;
    }

    .backstory {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-weight: 600;
        margin-bottom: 3rem;
        // text-align: center;
    }

    .vision_mission {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        h2 {
            color: $Black;

        }
    }

    .text {
        color: $Black;
        font-size: 1.1rem;

    }

    .list {
        ul {
            color: $Black;
            list-style-type: decimal-leading-zero;
        }
    }

    section.what_we_do {}
}

@media (max-width:992px) {
    .about {
        .page_title {

            h1 {
                font-size: 2rem;
            }
        }

        .vision_mission {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;

            h2 {
                color: $Black;

            }
        }
    }
}