.hero_image {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pages/images/models/background_desktop.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/public/background_desktop.jpg");
    height: calc(100vh - 5rem);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.homepage_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;

    h1 {
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: 0;
        color: $Orange;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    h4 {
        font-size: 2rem;
        margin-top: 1rem;
        color: $White;
    }

    .home_cta {
        background-color: $Orange;

        /* Green */
        border-radius: 3px;
        color: white;
        padding: 14px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: .5rem;

        &:active,
        &:hover {
            background-color: $Blue;
            color: $White;
        }
    }

}

@media (max-width:800px) {
    .hero_image {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/public/background_desktop.jpg");
        height: calc(100vh - 5rem);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .homepage_text {
        h1 {
            font-size: 2.5rem;

        }

        h4 {
            font-size: 1rem;
        }
    }
}