@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./colors";
@import "./navbar";
@import "./home";
@import "./footer";
@import "./models";
@import "./contact";
@import "./sidebar";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
}

.page_title {
    color: $Black;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: 0;
    text-align: center;

    h1 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

main {
    position: relative;
    top: 4px;

}